{% extends "base.html" %}
{% block content %}

<div class="span-24 last">
    <a href="/message/post_message/{{groupid}}">Post a message in this group.</a>
</div>

<div class="span-24 last">
    <h2><span class="grey">Current Directory:</span> <b>{{current_directory}}</b></h2>
    <a href="/message/post_message">Upload a file to this directory.</a>
</div>

<div class="span-24 last"> 
    <div class="cornerBox">
        <div class="corner TL"></div>
        <div class="corner TR"></div>
        <div class="corner BL"></div>
        <div class="corner BR"></div>
        <div class="cornerBoxInner">
            <a href="/"><img class="breadcrumb_img" src="/images/icons/house.png"/></a> 
            / <a href="/home/browse_files/{{groupname}}">{{groupname}}</a> /
            {% for crumb in crumbs %}
                {% ifnotequal  crumb.name  'None'  %}
                    <a href="/home/browse_files/{{groupname}}/?dir={{crumb.path|urlencode }}">{{crumb.name}}</a> 
                    {%ifnotequal url_dir ''%}
                    /
                    {% endifnotequal  %}
                {% endifnotequal  %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="span-24 last">
    <div class="main_description">
        {% if user.is_authenticated %}
            {{readme_for_current_dir}}
        {% else %}
            This directory has no description.
        {% endif %}
    </div>
</div>
<div class="span-24 last">
    <table class="table_bordered">
    <tr>
        <th style="width: 450px;" class="small_text">Directory Name</th>
        <th style="width: 80px;" class="small_text">Last Modified</th>
        <th style="width: 50px;" class="small_text">Size</th>
        <!-- <th style="width: 10px;">&nbsp;</th>-->
        <th class="small_text">Description</th>
    </tr>
    {% if prev_location %}
    <tr>
        <td colspan="3">
            <img src="/images/icons/arrow_up.png"/><a href="{{prev_location}}">.. (up one level)</a>
        </td>
        <td class="small_text">Go to previous directory.</td>
    </tr>
    {% endif %}
    {% if files or directories%}
        {% for directory in directories %}
        <tr>
            <td><img class="valign_middle" src="/images/icons/folder.png"/> <a href="/home/browse_files/{{groupname}}/?dir={{directory.path|urlencode }}">{{ directory.name }}</a></td>
            <td class="small_text">{{directory.last_modified}}</td>
            <td class="small_text">{{directory.size}}</td>
            <!--<td><a href="/home/download_dir_as_zip/{{groupname}}/?dir={{directory.path|urlencode }}"><img src="/images/icons/page_white_compressed.png"/></a></td>-->
            <td class="small_text"> 
                <div class="readme" id="row{{directory.id}}">{{directory.readme}}</div>
                <span>readme updated: </span><span class="readme_updated" id="readmerow{{directory.id}}">{{directory.readme_last_modified}}</span>
                <input type="hidden" class="filename" value="{{ directory.path|urlencode }}"/> 
                <input type="hidden" class="groupname" value="{{ groupname }}"/> 
                <input type="hidden" class="file_row" value="row{{directory.id}}"/> 
                {% if perms.home.add_desclogs %}
                    <div class="edit_desc">edit</div>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
    
{% if files or directories%}
    <table class="table_bordered">
    <tr>
        <th style="width: 450px;" class="small_text">File Name</th>
        <th style="width: 80px;" class="small_text">Last Modified</th>
        <th style="width: 50px;" class="small_text">Size</th>
        <!--<th style="width: 10px;">&nbsp;</a>-->
        <th style="width: 20px;" class="small_text">Type</th>
        <th class="small_text">Description</th>
    </tr>
    {% for file in files %}
    <tr>
        <td>
            <img class="valign_middle" src="/images/icons/{{ file.file_icon }}"/> 
            <a href="/home/download/{{groupname}}/{{ file.path|urlencode }}">{{ file.name }}</a>
            
        </td>
        <td class="small_text">{{file.last_modified}}</td>
        <td class="small_text">{{file.size}}</td>
        <!--<td>
            {% if file.extension != 'zip' %}
            <a href="/home/download_file_as_zip/{{groupname}}/{{file.path|urlencode }}"><img src="/images/icons/page_white_compressed.png"/></a>
            {% else %}
            <a href="/home/download/{{groupname}}/{{ file.path|urlencode }}"><img src="/images/icons/page_white_compressed.png"/></a>
            {% endif %}
        </td>-->
        <td class="small_text">{{file.extension}}</td>
        <td class="small_text">
            <div class="readme" id="row{{file.id}}">{{file.readme}}</div>
            <!-- <div class="readme_user" id="readmeuser{{file.id}}">{{file.desc_file_editedby}}</div> -->
            <span>readme updated: </span><span class="readme_updated" id="readmerow{{file.id}}">{{file.readme_last_modified}}</span>
            <input type="hidden" class="filename" value="{{ file.path|urlencode }}"/> 
            <input type="hidden" class="groupname" value="{{ groupname }}"/> 
            <input type="hidden" class="file_row" value="row{{file.id}}"/> 
            {% if perms.home.add_desclogs %}
                <div class="edit_desc">edit</div>
            {% else %}
                &nbsp;
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    <!-- 
    <p class="small_text" style="text-align: right; color: #999999;">
        You can download the entire contents of <b>{{current_directory}}</b> directory as a zip file by clicking
        <a href="/home/download_dir_as_zip/{{groupname}}/">here</a>.
    </p>
    -->
{% else %}
        No files available in this directory.
{% endif %}
</div>
<script>
$(document).ready(function(){
    var file_row = ""
    $(".edit_desc").click(function(event){
		    $("#dialog_desc").empty();
        desc = $(this).parent().children(".readme").text();
        groupname = $(this).parent().children(".groupname").val();
        filename = $(this).parent().children(".filename").val();
        file_row = $(this).parent().children(".file_row").val();
        
        $("#id_dialog_desc").val(desc);
        $("#id_dialog_groupname").val(groupname);
        $("#id_dialog_filename").val(filename);
        
		    $( "#dialog" ).dialog({ width: 460, height: 250 });
		    
		    console.log("dialog_desc: "+desc)
		    console.log("dialog_groupname: "+groupname)
		    console.log("dialog_filename: "+filename)
    });
    
    $("#cancel_button").click(function(){
        $( "#dialog" ).dialog('close');
    });
    
    $("#save_button").click(function(){
        $(this).attr("disabled", "true");
        save_data()  
    });

    
    function save_data() {
        $.post("/home/save_readme/", { 
            csrfmiddlewaretoken: $("input[name='id_csrfmiddlewaretoken").val(),
            dialog_desc: $("#id_dialog_desc").val(),
            dialog_filename: $("#id_dialog_filename").val(),
            dialog_groupname: $("#id_dialog_groupname").val()
        },
        function(data) {
                data = json_parse(data); //You must get this file: http://www.JSON.org/json_parse.js
                
                if(data.status=="success") {
                    $("#"+file_row).text(data.dialog_desc);
                    $("#readme"+file_row).text('just now');
                    $( "#dialog" ).dialog('close');
                    $(this).removeAttr("disabled");
                    console.log(">>>: "+file_row);
                } else if (data.status=="forbidden") {
                    alert('You are not permitted to do this action');
                } else {
                    console.log("status: "+data.status);
                    console.log("error: "+data.error);
                    console.log("grouppath: "+data.grouppath);
                    console.log("POST DATA: "+data.data);
                    $.each(data.data, function(i, n){
                        console.log(">"+i+": "+n);
                    });
                    
                    alert('Failed. Check console.');
                }
        });
    }
});
</script>
<div id="dialog" title="Edit Description" style="display: none;">
    <form action="/home/save_readme/" method="POST">
        {% csrf_token %}
        {{form}}
    <input type="button" id="save_button" value="Save Description"/>
    <input type="button" id="cancel_button" value="Cancel"/>
    </form>
</div>
{% endblock %}
