{% extends "base.html" %}
{% block content %}

<div style="border: 1px solid #ccc;"> Location: 
/ <a href="/home/browse_files/{{groupname}}">{{groupname}}</a> /
{% for crumb in crumbs %}
    {% ifnotequal  crumb.name  'None'  %}
        <a href="/home/browse_files/{{groupname}}/?dir={{crumb.path|urlencode }}">{{crumb.name}}</a> 
        {%ifnotequal url_dir ''%}
        /
        {% endifnotequal  %}
    {% endifnotequal  %}
{% endfor %}
</div>
{% if files or directories%}
    <ul>
    {% for directory in directories %}
            <li><a href="/home/browse_files/{{groupname}}/?dir={{directory.path|urlencode }}">[dir] {{ directory.name }}</a></li>
    {% endfor %}
    </ul>
    <ul>
    {% for file in files %}
            <li><a href="/home/download/{{groupname}}/{{ file.path|urlencode }}">{{ file.name }}</a></li>
    {% endfor %}
    </ul>
    
{% else %}
        No files/directories available.
{% endif %}

{% endblock %}