{% extends "base.html" %}
{% block content %}
<h2>Reading path: {{location}}</h2>
<hr/>
<h3>Files</h3>
{% if files %}
    <ul>
    {% for file in files %}
        <li><a href="/home/download/{{ file|urlencode }}">{{ file }}</a></li>
    {% endfor %}
    </ul>
{% else %}
        No files available.
{% endif %}
<h3>Directories</h3>
{% if directories %}
    <ul>
    {% for x in directories %}
        <li>{{ x }}</li>
    {% endfor %}
    </ul>
{% else %}
        No directory available.
{% endif %}
{% endblock %}