{% extends "base.html" %}
{% block content %}
<div class="span-24 last">
    <h2>Welcome!</h2>
</div>
<div class="span-24 last">
    <p>
    Hello {% if user.is_authenticated %}{{ user.username }}{%endif%}, 
    Welcome to our client area.
    </p>
    {% if user.groups.all %}
        <table >
            <tr VALIGN=TOP>
                <th>Group</th>
                <th>Files</th>
                <th>Messages by category</th>
            </tr>
        {% for group in user.groups.all %}
            <tr>
                <td  VALIGN="top">
                    <b>{{group}}</b><br/>
                    <a href="/message/post_message/{{group.id}}"><img src="/images/icons/email_edit.png" border="0" title="Post message for {{group}} group." alt="Post message for {{group}} group."/></a>
                </td>
                <td  VALIGN="top"><a href="/home/browse_files/{{group}}">view {{group}} files</a></td>
                <td  VALIGN="top">
                    <ul>
                    {%for group_id, category_id, category_name, unread_count, unread_comment_count in categories%}
                        {% if group_id == group.id%}
                            <li><a href="/message/cat/{{group_id}}/{{category_id}}">{{category_name}}</a> 
                                {%if unread_count %}
                                    <span class="home_unread">{{unread_count}} new messages</span>
                                {%else%}
                                    &nbsp;
                                {%endif%}
                                {%if unread_comment_count %}
                                    <span class="home_unread_replies">{{unread_comment_count}} new replies</span>
                                {%else%}
                                    &nbsp;
                                {%endif%}
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
            </tr>    
        {% endfor %}
        </table>
    {% else %}
    <p>You do not belong to any group yet. Please contact the site administrator.</p>
    {% endif %}
    </p>
    
</div>
{% endblock %}