{% extends "base.html" %}
{% block title %}Registration form{% endblock %}
{% block page_name %}Registration form{% endblock %}
{% block content %}
<div class="span-24 last">
    <form method="post" action="">
    {% csrf_token %}
    <dl>
    {% for field in form %}
        <dt>{{ field.label_tag }}</dt>
        <dd>{{ field }}</dd>
        {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
        {% if field.errors %}<dd class="myerrors">{{ field.errors }}</dd>{% endif %}
    {% endfor %}
    </dl>
    <input type="submit" />
    </form>
</div>
{% endblock %}
