{% extends "base.html" %}
{% block content %}
<div class="span-24 last">
    <h2>{{groupname}}: {{categoryname}} messages</h2>
</div>

<div class="span-24 last">
    <a href="/message/post_message/{{groupid}}?categoryid={{categoryid}}">Post a message in this category</a>
</div>
<div class="span-24 last">
    <table>
    <tr>
        <th>Title</th>
        <th>Date posted</th>
        <th>Posted by</th>
        <th>Replies</th>
    </tr>
    {% if posts%}
        {%for unread_id, read_on, post, unread_comment_count, all_comment_count in posts%}
        <tr>
            <td>
                {%if not read_on %}
                    <span class="home_unread">new</span>
                {%endif%}
                {%if unread_comment_count %}
                    <span class="home_unread_replies">{{unread_comment_count}} new replies</span>
                {%else%}
                    &nbsp;
                {%endif%}
                
                {%if read_on%}
                    <a href="/message/view/{{post.id}}">{{post.title}}</a>
                {%else%}
                    <b><a href="/message/view/{{post.id}}">{{post.title}}</a></b>
                {%endif%}
            </td>
            <td>{{post.published}} / {{post.published|timesince}} ago</td>
            <td>{{post.user}}</td>
            <td>Message has
                {%if unread_comment_count %}
                    {{unread_comment_count}} new
                    {%if unread_comment_count > 1%}
                        replies.
                    {%else%}
                        reply.
                    {%endif%}
                    
                {%else%}
                    no new replies.
                {%endif%}
                
                All replies: {{all_comment_count}}
            </td>
        </tr>

        {%endfor%}
    {%else%}
    <tr>
        <td colspan="4">
            No messages.
        </td>
    </tr>
    {%endif%}
    </table>
</div>
{%for s in sql%}
<div class="span-24 last" style="border: 1px solid #000; font-family:Courier;">{{s.sql}}</div>
{%endfor%}
{% endblock %}