{% extends "base.html" %}
{% load uploadify_tags %}
{% block content %}
<div class="span-24 last">
    <h2>
        {%if edit = '1' %}
        Edit message
        {%else%}
        Post a message to {{groupname}}
        {%endif%}
        
    </h2>
</div>
<div class="span-24 last">
    <form action="/message/post_message/{{groupid}}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    {%if edit = '1' %}
        <input type="submit" id="save_button" value="Update this message"/>
    {%else%}
        <input type="submit" id="save_button" value="Post this message"/>
    {%endif%}
    <input type="hidden" name="edit" value="{{edit}}" />
    <input type="hidden" name="postid" value="{{postid}}" />
    </form>
    <a name="users">&nbsp;</a>
    userlist: {{userlist}}<br/>
    edit: {{edit}}<br/>
    postid: {{postid}}<br/>
</div>
{% multi_file_upload '/home/' %}

{% endblock %}