{% extends "base.html" %}
{% block content %}
<div class="span-24 last">
    <h2>{{message.title}}</h2>
    <div> 
        Posted {{message.published|timesince}} ago by: <a href="/profiles/{{message.user}}">{{message.user}}</a> 
        under 
        <a href="/message/cat/{{message.group.id}}/{{message.category.id}}">{{message.category}}</a>
    </div>
</div>
<div class="span-24 last">
    <p>
    {{message.body}}
    </p>
</div>
<div class="span-24 last">
    COMMENT:
    <form action="/message/post_message/{{message.group.id}}?postid={{message.id}}" method="POST">
    {% csrf_token %}
    {{commentform.as_p}}
    <input type="submit" id="save_button" value="Post this comment"/>
    </form>
</div>
<div class="span-24 last">
    <h2>Comments</h2>
    {% if comments%}
        {%for comment in comments%}
            <b>{{comment.comment.title}}</b>
            by: 
           {{comment.comment.user}} 
           {{comment.comment.published|timesince}} 
           <p>
           {{comment.comment}} 
           </p>
        {%endfor%}
        
    {%endif%}
    
</div>
{% endblock %}