{% extends "base.html" %}
{% block content %}
<div class="span-24 last">
    <h2>{{message.title}}</h2>
    <div> 
        Posted on {{message.published}} or {{message.published|timesince}} ago by: <a href="/profiles/{{message.user}}">{{message.user}}</a> 
        under 
        <a href="/message/cat/{{message.group.id}}/{{message.category.id}}">{{message.category}}</a>
    </div>
</div>
<div class="span-24 last">
    <p>
        {% load bbcode %}
        {{message.body|bbcode}}
    </p>
</div>
<div class="span-24 last">
    <div class="cornerBox">
        <div class="corner TL"></div>
        <div class="corner TR"></div>
        <div class="corner BL"></div>
        <div class="corner BR"></div>
        <div class="cornerBoxInner">
            {{groupmembersform}}
            * will use ajax. add/delete to Unread model when the checkboxes are checked/unchecked<br/>
            * make sure you also add/delete user_ids to the hidden list in the comment form below
            
        </div>
    </div>
</div>
<div class="span-24 last">
    &nbsp;
</div>   
<div class="span-24 last">
    <div class="cornerBox">
        <div class="corner TL"></div>
        <div class="corner TR"></div>
        <div class="corner BL"></div>
        <div class="corner BR"></div>
        <div class="cornerBoxInner">
            <div  id="dialog">
            <form action="/message/post_message/{{message.group.id}}?postid={{message.id}}" method="POST">
            {% csrf_token %}
            <table class="comment_form_table">
            {{commentform.as_table}}
            </table>
            <input type="submit" id="save_button" value="Post reply"/>
            </form>
            
            </div>
        </div>
    </div>
</div>
<div class="span-24 last">
    <h2>Replies</h2>
    
    {% if comments%}
        {%for id, comment_id, title, user, published, body, marked_read_on in all_comments%}
            <div>
               <h3 class="comment_title">
                   <!-- <input type="checkbox" value="{{comment_id}}"/> -->
                   {%if marked_read_on%}
                        <!-- <img src="/images/icons/flag_green.png" /> -->
                   {%else%}
                        <img id="flag_{{comment_id}}" title="flag_{{comment_id}}" alt="Mark as read" class="red_flag" src="/images/icons/flag_red.png" />
                   {%endif%}
                   
                   <input type="hidden" value="{{comment_id}}" name="commentid" class="commentid" id="id_commentid">
                   <a name="commendid{{comment_id}}" href="#comment_{{comment_id}}">{{title}}</a>
                   
               </h3>
               <div class="comment_meta">
                by: 
               <a href="/profiles/{{user}}">{{user}}</a>
               {{published}} or {{published}} ago
                </div>
               <p class="comment_p">
               {% load bbcode %}
               {{body|bbcode}}
               </p>
            </div>
        {%endfor%}
    {%endif%}
</div>
<script>
$(document).ready(function(){
    var csrf_token = '';
    var comment_id = '';
    $(".red_flag").click(function(event){
        //alert('mark for comment_id: '+$(this).parent().find("input[name=commentid]").val())
        console.log($(this).parent().find("input[name=commentid]").val())
        csrf_token = $("input[name=\"id_csrfmiddlewaretoken\"").val();
        comment_id = $(this).parent().find("input[name=commentid]").val();
        mark_as_read($(this))
    });
    
    /*
    function mark_as_read() {
        $.get('/message/mark_message_unread/',{
                commentid: $(this).parent().find("input[name=commentid]").val()
            }, function(data) {
            alert('check console.');
            console.log(data)
        }, "json");
    }
    */
    
    function mark_as_read(object) {
        $.post("/message/mark_message_unread/", {
            var: 'test',
            csrfmiddlewaretoken: csrf_token,
            commentid: comment_id
        },function(data) {
            object.fadeOut()
            console.log(data)
        },'json');
    }
    
    
    /**
    Simple form validation.
    Form is also checked in the backend.
    */
    $("form").submit(function() {
        if($("#id_title").val()=="") {
            $("#id_title").focus();
            alert("Please provide a title for your reply.")
            return false;
        }
        if($("#id_body").val()=="") {
            $("#id_body").focus();
            alert("Please provide some content for your reply.")
            return false;
        }
        return true;
    });
});
</script>

{% endblock %}