<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Client Area {% block title %}{% endblock %}</title>
    
    <!-- Framework CSS -->
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="print">
    
    <link type="text/css" href="/css/start/jquery-ui-1.8.9.custom.css" rel="Stylesheet" />	
    <script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.9.custom.min.js"></script>
    <script type="text/javascript" src="/js/json_parse.js"></script>
    
</head>
<body>
<div class="container">
    <div class="span-24 last">
        <img src="/images/subsea.png" border="0"/>
    </div>
    
    <div class="span-24 last">
        <div class="cornerBox">
            <div class="corner_blue TL"></div>
            <div class="corner_blue TR"></div>
            <div class="corner_blue BL"></div>
            <div class="corner_blue BR"></div>
            <div class="cornerBoxInner horizontal_list">
                <ul>
                {% if user.is_authenticated %}
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/profiles/{{user.username}}">Logged in as: <b>{{ user.username }}</b></a></li>
                    <li><a href="/accounts/password/change">Change Password</a></li>
                    <li><a href="/accounts/logout">Logout</a></li>
                {% else %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/accounts/login">Login</a></li>
                    <li><a href="/accounts/password/reset">Forgot Password</a></li>
                {% endif %}
                </ul>
                &nbsp;
            </div>
        </div>
    </div>
    
    {% if messages %}
    <div class="span-24 last">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
    
    {% block footer %}
    <div class="span-24 last" style="text-align:center;">
    <p>&copy; Copyright 2010</p>
    </div>
    {% endblock %}
</div>
</body>
</html>