<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Subsea: {% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        <h1>Client Portal</h1>
    </div>
    <div>
        <ul>
        {% if user.is_authenticated %}
            <li><a href="/">Home</a></li>
            <li>Logged in as: <b><a href="/profiles/{{user.username}}">{{ user.username }}</a></b></li>
            <li><a href="/home/browse_files">Your Files</a></li>
            <li><a href="/accounts/logout">Logout</a></li>
            <li><a href="/accounts/password/change">Change Password</a></li>
        {% else %}
            <li><a href="/">Home</a></li>
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/accounts/password/reset">Forgot Password</a></li>
        {% endif %}
        </ul>
    </div>
    <div>
        {% if user.groups.all %}
        You belong to: 
        <ul>
        {% for group in user.groups.all %}
            <li>{{group}}</li>
        {% endfor %}
        </ul>
        {% else %}
        You do not belong to any group yet. Please contact the site administrator.
        {% endif %}
    </div>
    {% block content %}{% endblock %}
    {% block footer %}
    <p>&copy; Copyright 2010. Subsea International / Norwegian Pacific Offshore</p>
    {% endblock %}
</body>
</html>