{% extends "base.html" %}
{% block title %}Profile for {{ profile }} {% endblock %}
{% block content %}
<h2>Info for {{ profile }} </h2>
<hr/>
<p>
	<strong>Name:</strong> {{user.first_name}} {{user.last_name}}
</p>
<p>
	<strong>Email:</strong> {{user.email}}
</p>
<!--
<p>
	<strong>Address:</strong> {{profile.address1}} {% if profile.address2 %}, {{profile.address2}} {% endif %}
</p>
<p>
	<strong>Province:</strong> {{profile.province}}
</p>
<p>
	<strong>City:</strong> {{profile.city}}
</p>
<p>
	<strong>Zipcode:</strong> {{profile.zipcode}}
</p>
-->
{% if profile.user == user %}
<p>
	<a href="/profiles/edit">Edit</a>
</p>
{% endif %}

{% endblock %}
